{% extends 'base.html.twig' %}

{% block title %}Mes forums{% endblock %}

{% block body %}
    <h1>Mes forums</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Location</th>
                <th>Owner</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for forum in forums %}
            <tr>
                <td>{{ forum.id }}</td>
                <td>{{ forum.title }}</td>
                <td>{{ forum.description }}</td>
                <td>{{ forum.location }}</td>
                <td>{{ forum.user.email }}</td>
                <td>
                    <a href="{{ path('app_forum_show', {'id': forum.id}) }}">show</a>
                    <a href="{{ path('app_forum_edit', {'id': forum.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_forum_new') }}">Create new</a>
{% endblock %}
